* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif !important;
}

h2, h4, li {
  font-family: 'Roboto', sans-serif !important;
}

.nav-bar {
  background: #434a54;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
  padding: 10px;
}

.nav-bar img {
  height: 40px;
  width: 50px;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover, .nav-bar a:focus {
  color: #E9573F;
}

.nav-bar a:hover i, .nav-bar a:focus i {
  color: white;
}

.home-middle-section a {
  color: black;
}

.home-middle-section a:hover {
  color: #E9573F;
}

.middle-container {
  margin-top: 100px;
}

.home-box-selection {
  background: #E6E9ED;
  padding: 40px;
  margin-top: 10px;
}

.footer {
  background: #434a54;
  margin-top: 20px;
  color: white;
  width: 100%;
  padding: 10px;
}

.footer a {
  color: white;
}

.footer a:hover, .footer a:focus {
  color: #E9573F;
}

.logo-background {
  margin-top: 80px;
  background: url(/images/header-indianapolis2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
}

.logo-background img {
  min-width: 300px;
  padding-top: 80px;
}

.about-section {
  padding: 20px;
}

.resource-box-style {
  background: #E6E9ED;
  margin-top: 10px;
  padding: 10px;
}

.contact-form {
  background: #E6E9ED;
  padding: 30px;
  margin: auto;
  margin-bottom: 50px;
}

.contact-form input {
  padding: 10px;
  border: none;
  border-radius: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.7s;
  height: 40px;
  margin-bottom: 5px;
}

.contact-form input:focus {
  border-bottom: solid 2px #E9573F;
}

.contact-form textarea {
  border: none;
  padding: 10px;
  transition: border 0.7s;
}

.contact-form textarea:focus {
  border-bottom: solid 2px #E9573F;
}

.contact-form button {
  height: 40px;
}
