//color pallet
$col1: #E9573F;
$col2: #FC6E51;
$col3:#656D78;
$col4:#E6E9ED;
$col5:#3bafda;
$col6: #434a54;

*{
    box-sizing: border-box;
}
h1{
    font-family: 'Lato', sans-serif !important;
}
h2,h4,li{
    font-family: 'Roboto', sans-serif !important;
}
body{
}
.nav-bar{
    background: $col6;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: white;
    padding: 10px;
    img{
        height: 40px;
        width: 50px;
    }
    a{
        color: white;
        &:hover, &:focus {
            i{
                color: white;
            }
            color: $col1;
        }
    }
}

.home-middle-section{
    a{
        color: black;
        &:hover{
            color: $col1;
        }
    }
}
.middle-container{
    margin-top: 100px;
}
.home-box-selection{
    background: $col4;
    padding: 40px;
    margin-top: 10px;
}
.footer{
    background: $col6;
    margin-top: 20px;
    color:white;
    width: 100%;
    padding: 10px;
    a{
        color: white;
        &:hover, &:focus{
            color: $col1;
        }
    }
}
.logo-background{
    margin-top: 80px;
    background: url(/images/header-indianapolis2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    img{
        min-width: 300px;
        padding-top: 80px;
    }
}
.about-section{
    padding: 20px;
}

.resource-box-style{
    background: $col4;
    margin-top: 10px;
    padding: 10px;
}
.contact-form{
    background: $col4;
    padding: 30px;
    margin:auto;
    margin-bottom: 50px;
    input{
        padding: 10px;
        border: none;
        border-radius: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.7s;
        height: 40px;
        margin-bottom:5px;
        &:focus{
            border-bottom: solid 2px $col1;
        }
    }
    textarea{
        border: none;
        padding: 10px;
        transition: border 0.7s;
        &:focus{
            border-bottom: solid 2px $col1;
        }
    }
    button{
        height: 40px;
    }
}
