<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/home.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-12 col-xs-12 banner text-center">
      <h1>Fe26 Indy Companion App</h1>
    </div>
  </div>
  <div class="row logo">
    <div class="col-sm-12">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 home-box-selection">
      <div class="col-sm-4 text-center"><img src="../../../public/images/front-end-icon.png" alt=""><h2>Front-End Engineering</h2></div>
      <div class="col-sm-8 hidden-xs"><h4>Front-End Engineering focuses on creating experiences in web browser that users see and interact with. The discipline covers a broad area, from web design principles to complex JavaScript applications that manage data. The tools used in front-end engineering are ubiquitous--no matter the technology used on the back end, front-enders are responsible for delivering the experience and data to the person using the web application.</h4></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 home-box-selection">
      <div class="col-sm-4  text-center"><img src="../../../public/images/back-end-icon.png" alt="">
        <h2>Back-End Engineering</h2></div>
        <div class="col-sm-8 hidden-xs"><h4>Back-End Engineering focuses on the logic and database needs required to run and scale web applications. Back-end products combine databases, APIs, and user interface frameworks. Back-end developers deploy fully-formed products to the cloud, integrate with online services, and enable mobile and front-end applications.</h4></div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 home-box-selection">
      <div class="col-sm-4 text-center"><i class="fa fa-commenting-o fa-4x" aria-hidden="true"></i>
        <h2>Grad Chat</h2></div>
        <div class="col-sm-8 hidden-xs"><h4>It doesn't end here! Network with the Indy tech community w/ Meetup and join the TIY Slack channel to stay connected! </h4></div>
      </div>
    </div>
</div>
<div class="container-fluid footer">
  <div class="row text-center">
    <div class="col-sm-12 col-xs-12"><h3>Iron Yard Graduates Copyright</h3></div>
    <div class="col-sm-4 col-xs-4"><h3>Developers</h3></div>
    <div class="col-sm-4 col-xs-4"><h3>Contact Us</h3></div>
    <div class="col-sm-4 col-xs-4"></div>
  </div>
</div>

<script src="https://use.fontawesome.com/622f283375.js"></script>
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <!-- <script type="text/javascript" src="global.js"></script> -->
</body>
</html>
